*{
  box-sizing: border-box;
}
body{
  margin: 0;
  padding: 0;
}


.container{
  width: 1200px;
  margin: 0 auto;
}

nav {
  background-color: #f16021;
  color: #fff;
}
.clearfix{
  clear: both;
}
nav .logo{
  float: left;
  width: 50%;
}
.nav .logo h1{
  font-size: 30px;
}
nav .list{
  float: right;
  width: 50%;
}

nav .list ul {
  list-style: none;
  padding: 0;
  margin-top: 29px;
}
nav .list ul li{
  display: inline-block;
  margin-right: 35px;
  font-size: 20px;
  text-transform: capitalize;
}


.header{
  height: 550px;
  background-image: url(./images/header.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.header .info{
  text-align: center;
  padding-top: 75px;
}
.header .info h2{
   color: #fff;
   margin: 0;
   font-size: 65px;
   text-transform: capitalize;
}

.header .info p {
  font-size: 22px;
  color: #bbb; 
  margin: 10px;
}
.header .info button{
  background-color: #f16021;
  border: none;
  padding: 15px 30px;
  color: #fff;
  font-size: 20px;
  margin-top: 20px;
  cursor: pointer;
}


.about {
  margin-top: 100px;
  overflow: hidden;
}

.about .info{
  float: left;
  width: 60%;
}
.about .info h2{
   color: #f16021;
   text-transform: uppercase;
   font-size: 30px;
}

.about .info p{
   color: #777;
   font-size: 17px;
   padding-right: 70px;
   line-height: 1.7;
}
.about .info ul{
   list-style: none;
   margin: 0;
   padding: 0; 
}
.about .info ul li{
   margin-bottom: 10px;
   color: #777;
}
.about .info ul li i{
    color: #f16021;
    margin-right: 10px;
}


.about .image{
  float: right;
  width: 40%;
}
.about .image img{
  width: 100%;
  height: 470px;
}


.our-team{
  margin-top: 100px;
}
.our-team .heading h2{
  text-align: center;
  color: #f16021;
  font-size: 30px;
  text-transform: uppercase;
  margin-bottom: 80px;
}
.our-team .item{
  float: left;
  width: 33.3333%;
}
.our-team .item img{
   width: 250px;
   height: 250px;
   margin-bottom: 15px;
   border-radius: 50%;
}
.our-team .item h4{
  color: #444;
  font-size: 21px;
}
.our-team .item span{
  color: #aaa;
  font-size: 14px;
}
.our-team .item p{
    padding-right: 50px;
    color: #444;
}
.our-team .item .list ul{
    list-style: none;
}

.our-team .item .list ul li{
    display: inline-block;
    margin-right: 10px;
}

.our-team .item .list ul li i{
    font-size: 27px;
    color: #777;
}


.work{
  margin-top: 100px;
}

.work .heading h2{
  text-align: center;
  color: #f16021;
  font-size: 30px;
  text-transform: uppercase;
  margin-bottom: 80px;
}
.work .gallary img{
  float: left;
  width: 25%;
}

.work .arrows{
  text-align: center;
  margin-top: 30px;
}

.work .arrows i {
  margin-top: 15px;
  font-size: 25px;
  color: #1a1a1a;
}


.testimonials{
  margin-top: 100px;
  text-align: center;
}
.testimonials q{
   color: #777;
   line-height: 1.7;
}
.testimonials p{
  color: #f16021;
  font-weight: bold;
}
.testimonials .heading h2{
  text-align: center;
  color: #f16021;
  font-size: 30px;
  text-transform: uppercase;
  margin-bottom: 80px;
}

.testimonials .image{
   margin-bottom: 20px;
}

.testimonials .image img{
  width: 100px;
  height: 100px;
  border-radius: 50%;
}


.our-blogs{
  margin-top: 100px;
}
.our-blogs .heading h2{
  text-align: center;
  color: #f16021;
  font-size: 30px;
  text-transform: uppercase;
  margin-bottom: 80px;
}

.our-blogs .blog{
  float: left;
  width: 32%;
} 
.our-blogs .blog:not(:last-of-type){
  margin-right: 2%;
} 
.our-blogs .blog img{
   width: 100%;
   height: 250px;
} 
.our-blogs .blog h3{
   color: #f16021;
} 
.our-blogs .blog p:first-of-type{
   color: #777
}  
.our-blogs .blog p:last-of-type{
   color: #444;
   line-height: 1.7;
   padding-right: 20px;
   margin-bottom: 40px;
} 
.our-blogs .blog span{
   color: #f16021;
}

.our-blogs button {
  background-color: #f16821;
  border: none;
  padding: 15px 30px;
  color: #fff;
  font-size: 17px;
  text-transform: uppercase;
  display: block;
  margin: 40px auto;
  cursor: pointer;
}


/*Start contact*/
.contact{
  margin-top: 100px;
}
.contact .inputs input{
  padding: 10px;
  border-radius: 7px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
}
.contact .inputs input[type=text]:first-of-type{
  margin-right: 1%;
}
.contact .inputs input[type=text]:not(:last-of-type){
  width: 49.3%;
  display: inline-block;
}
.contact .inputs input[type=text]:last-of-type,
.contact .inputs input[type=email]{
  width: 100%;
}
.contact .inputs textarea{
  width: 100%;
  height: 200px;
  padding: 10px;
  border-radius: 7px;
  border: 1px solid #ccc;
}
.contact button{
  background-color: #f16821;
  border: none;
  padding: 15px 30px;
  color: #fff;
  font-size: 17px;
  text-transform: uppercase;
  display: block;
  margin: 40px auto;
  cursor: pointer;
  border-radius: 10px;
}


/*Start footer*/
footer{
  text-align: center;
  padding-bottom: 20px;
}
footer span{
  color: #F16821;
}

/*End footer*/

/*My Frame work*/

.heading h2{
  text-align: center;
  color: #F16821;
  font-size: 30px;
  text-transform: uppercase;
  margin-bottom: 50px;
}

hr{
  display: block;
  border: 1px solid #ccc;
  margin-top: 60px;
}